.group2543 {
    width: 100%;
    background-color: rgba(244, 246, 252, 1);
    padding-left: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
    
    
  }
  .group2543 img {
    width: 95%;
    margin-top: 20px;
  }
  .group2543 .group2543-text {
    width: 100%;
 
  }
  .group2543 .group2543-text .title {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.87;
    margin-bottom: 10px;
  }
  .group2543 .group2543-text h3 {
    color: #232536;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    margin-bottom: 16px;
    margin-bottom: 10px;
  }
  .group2543 .group2543-text p {
    width: 100%;
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: 10px;
  }
  