.portfolio {
    width: 100%;
    flex-shrink: 0;
    background: var(--Grey);
    padding: 20px;
    box-sizing: border-box;
  }
  .portfolio .title {
    color: var(--Dark-blue);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
    margin: 0 auto;
    padding-top: 96px;
    box-sizing: border-box;
  }
  .portfolio h2 {
    width: 100%;
    color: var(--Dark-blue, #282938);
    text-align: center;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin: 0 auto;
    padding-top: 4px;
    box-sizing: border-box;
  }
  .portfolio p {
    width: 100%;
    color: var(--Dark-blue);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 0 auto;
    padding-top: 24px;
    box-sizing: border-box;
  }
  .portfolio .logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 32px;
    column-gap: 38px;
  
  }
  .portfolio .logo svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: var(--Dark-blue)
  }
  