.client-first {
  width: 85%;
  height: 398px;
  margin: 128px 128px 128px 128px;
  display: flex;
  flex-flow: row wrap;
}
.client-first .about-us1 {
  width: 622px;
  height: inherit;
}
.client-first .about-us1 p.title {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-top: 41px;
}
.client-first .about-us1 h3 {
  width: 550px;
  height: 168px;
  color: #232536;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-top: 16px;
}
.client-first .about-us1 p.text {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
  margin-top: 16px;
}
.client-first .about-us2 .about-us-image {
  margin-left: 93px;
  width: 575px;
  height: 398px;
  flex-shrink: 0;
}
