.our-work {
  width: 1280px;
  height: 728px;
  margin: 128px 94px 128px 94px;
}
.our-work .heading {
  height: 64px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.our-work .heading div:nth-of-type(1) {
  width: 467px;
  height: 64px;
}
.our-work .heading div:nth-of-type(1) h2 {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 64px;
}
.our-work .heading div:nth-of-type(2) {
  width: 83px;
  height: 64px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  margin-left: 690px;
  margin-right: 16px;
}
.our-work .heading div:nth-of-type(2) p {
  height: 16px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #282938;
}
.our-work .heading div:nth-of-type(3) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}
.our-work .heading div:nth-of-type(3) svg {
  width: 24px;
}
.our-work .our-work-cards {
  width: 1280px;
  height: 664px;
  display: flex;
  flex-flow: column wrap;
}
.our-work .our-work-cards .content1 {
  width: 843px;
  height: 600px;
  margin-top: 64px;
  position: relative;
  transition: 300ms;
  overflow: hidden;
}
.our-work .our-work-cards .content1 .cover-p {
  width: 396px;
  height: 600px;
  flex-shrink: 0;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  position: absolute;
  top: 0px;
  left: -396px;
 
 
}
.our-work .our-work-cards .content1 .cover-p .text{
  height: 209px;
  width: 313px;
  margin-top: 312px;
  margin-left: 48px;
}
.our-work .our-work-cards .content1 .cover-p  .text .first {
  width: 313px;
  height: 72px;
  color: var(--white);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
}
.our-work .our-work-cards .content1 .cover-p .text .second {
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.8;
  width: 293px;
  height: 56px;
  margin-bottom: 40px;
  
 
}
.our-work .our-work-cards .content1 .cover-p  .text .third a {
  color: var(--yellow);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  list-style: none;
  text-decoration: none;
}
.our-work .our-work-cards .content1 .cover-p .text .third img {
  width: 24px;
  height: 10px;
  margin-left: 16px;
}
.our-work .our-work-cards .content1:hover .cover-p{
  left: 0;
}
.our-work .our-work-cards .content2 {
  width: 405px;
  height: 600px;
  margin-top: 64px;
  display: flex;
  flex-flow: column wrap;
}
.our-work .our-work-cards .content2 .hover-overlay1 {
  height: 284px;
  width: 405px;
  margin-bottom: 32px;
  margin-left: 32px;
  position: relative;
  overflow: hidden;
  transition: 300ms;
  transition-delay: 1000ms;
}
.our-work .our-work-cards .content2 .hover-overlay1 .cover-p {
  width: 405px;
  height: 284px;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  position: absolute;
  top: 0px;
  right: -405px;
}
.our-work .our-work-cards .content2 .hover-overlay1 .cover-p .text1 {
  color: var(--white);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  width: 50%;
  height: 72px;
  margin-top: 129px;
  margin-left: 56px;
  margin-bottom: 10px;
}
.our-work .our-work-cards .content2 .hover-overlay1 .cover-p .View-portfolio {
  display: flex;
  flex-flow: row wrap;
}

.our-work
  .our-work-cards
  .content2
  .hover-overlay1
  .cover-p
  .View-portfolio
  .text2 {
  color: var(--yellow);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 110px;
  height: 28px;
  margin-left: 56px;
}
.our-work
  .our-work-cards
  .content2
  .hover-overlay1
  .cover-p
  .View-portfolio
  img {
  width: 24px;
  height: 10px;
  margin-top: 10px;
}
.our-work .our-work-cards .content2 .hover-overlay1:hover .cover-p {
  right: 0;
}
.our-work .our-work-cards .content2 .hover-overlay2 {
  height: 284px;
  width: 405px;
  margin-left: 35px;
}
